In [11]:
import os
import pandas as pd
import numpy as np 
import cv2


def createmaskimage(imagename,path,lst):
    img = np.zeros(1600*256)
    for i in lst:
        img[i-1]=255
    img = np.reshape(img,(1600,256)).T
    path = path+"/"+imagename
    cv2.imwrite(path, img)
    return img

def createblackimage(imagename,path):
  img = np.reshape((np.zeros(1600*256)), (1600,256)).T
  path = path+"/"+imagename
  cv2.imwrite(path, img)
  return img

In [5]:
path='F:/data'

In [3]:
df= pd.read_csv(path+'/train.csv')

df[['ImageId','ClassId']] = df.ImageId_ClassId.str.split(pat='_',expand=True)

df.drop(['ImageId_ClassId'],axis=1)
df.to_csv('train2.csv')

In [6]:
df= pd.read_csv(path+'/train2.csv')
df['EncodedPixels'] = df['EncodedPixels'].replace(np.nan, "na")
count_row = df.shape[0]
print(count_row)

50272

In [7]:
df.head()

,Unnamed: 0,ImageId_ClassId,EncodedPixels,ImageId,ClassId
0,0,0002cc93b.jpg_1,29102 12 29346 24 29602 24 29858 24 30114 24 3...,0002cc93b.jpg,1
1,1,0002cc93b.jpg_2,na,0002cc93b.jpg,2
2,2,0002cc93b.jpg_3,na,0002cc93b.jpg,3
3,3,0002cc93b.jpg_4,na,0002cc93b.jpg,4
4,4,00031f466.jpg_1,na,00031f466.jpg,1

In [10]:
d=df[df.apply(lambda r: r.str.contains('0002cc93b.jpg', case=False).any(), axis=1)]

In [15]:
d

,Unnamed: 0,ImageId_ClassId,EncodedPixels,ImageId,ClassId
0,0,0002cc93b.jpg_1,29102 12 29346 24 29602 24 29858 24 30114 24 3...,0002cc93b.jpg,1
1,1,0002cc93b.jpg_2,na,0002cc93b.jpg,2
2,2,0002cc93b.jpg_3,na,0002cc93b.jpg,3
3,3,0002cc93b.jpg_4,na,0002cc93b.jpg,4

In [14]:
path_out = 'E:\CSE-Project\flask\out'
for n in range(d.shape[0]):
    print(n)
    imagename=d['ImageId'][n]
    folder=int(d['ClassId'][n])
    maskpix = d['EncodedPixels'][n]
    
    if (maskpix != 'na'):
        lst=[int(i) for i in maskpix.split()]
        lstn=np.arange(lst[0],lst[0]+lst[1])

        for i in range(2,len(lst),2):
            x=np.arange(lst[i],lst[i]+lst[i+1])
            lstn = np.append(lstn, x)
        for i in lstn:
#             print(i)
            img=createmaskimage(imagename,(path_out+'/'+str(folder)),lstn)
    else:
#         continue
        img=createblackimage(imagename,(path_out+'/'+str(folder)))

0
1
2
3